
	 body{background: black;
		display: inline;
		padding: 10px;
		margin-bottom: 10%;}

	


.navbar nav{position: relative;
font-size: 25px;
display: flex;
flex-wrap: wrap;
margin: 15px 15px 15px 15px;
background: aquamarine;

}
nav ul{
	list-style: none;
}
nav li{display: inline-block;
	font-size: 25px;
	font-family: sans-serif;
	margin-left: 70px;

}



h2{color: white;
		font-family: inherit;
		font-weight: 1000;
		text-align: center;
		font-size: 50px;
	}

h3{color: white;
    	font-family: inherit;
        text-align: center;
        font-size: 35px;}

p{color: white;
    text-align: left;
    margin-top: 100px; 
    margin-bottom: 15px;
    font-size: 30px;
    font-style: initial;
}
.paragraphs{margin-bottom: 30px;}

    #Favlist{color: aquamarine;
    	}

  li{color: white;
font-size: 20px;
font-style: italic;
  }   
     
    a{color: purple; text-decoration: underline;}
    a:hover{color: white; text-decoration: none;}



 .Tlink{color: aquamarine;}

 table{color: white;
 	font-size: 25px;
 	position: relative;
 
 }  
 .cooking img{position: relative;
max-width: 25%;
height: auto;
 }

 th{font-size: 30px;}

.Gmailimg img{max-width: 25%;
height: auto;
float:right;
margin-right: 15%;
}


.ContactForm {
	height: 500px;
	max-width: 600px;
	width: 100%;
	padding: 25px;
	margin: 20px;
	background: linear-gradient(aquamarine, white);
}

.ContactForm .Formtitle{
	font-size: 25px;
	font-weight: 1000;
	position: relative;
}

.ContactForm  form .user-details{
	color: black;
	font: bold;
	display: flex;
	flex-wrap: wrap ;
	justify-content: space-around;
	margin: 20px 0 12px 0;
}

.user-details .input input{
	height: 45px;
	width: 100%;
	padding-left: 15px;
	font-size: 16px;
}
.user-details .input .input-message .details form{
	display: block;
	margin-bottom: 5px;
	font-weight: 1000;
	font: bold;
}
.input-message textarea{
	height: 200px;
	width: 100%;
	margin: 20px 0 12px -15px;
	padding-left: 10px;
	font-size: 16px;



}
form .button{
height: 30px;
margin: 15px;
}
form .button input{
	height: 100%;
	width: 50%;
	font-size: 18px;
	font-weight: 500;
}
form .button input:hover{
	background: aquamarine;
}